/*
 * root.css
 * --------
 *
 * This stylesheet defines:
 *   - The global style variables of the website.
 *   - The default styles applied to all HTML elements of the website.
 */

@font-face {

  font-family: "Inter";

  src: url("/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("TrueType");

  font-optical-sizing: auto;

  font-weight: 100 900;

  font-style: normal;

}

@font-face {

  font-family: "Inter";

  src: url("/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("TrueType");

  font-optical-sizing: auto;

  font-weight: 100 900;

  font-style: italic;

}

:root {

  /*
   * Neutral colors.
   *
   * The grays, blacks, whites for text and background.
   */
  --color-neutral-0: rgb(8, 15, 17);

  --color-neutral-1: rgb(16, 22, 24);

  --color-neutral-2: rgb(20, 27, 29);

  --color-neutral-3: rgb(28, 34, 37);

  --color-neutral-4: rgb(161, 164, 165);

  --color-neutral-5: rgb(215, 216, 217);

  /*
   * Primary colors.
   */
  --color-primary: rgb(7, 213, 151);

  --color-primary-background: rgb(22, 35, 34);

  --color-primary-background-hover: rgba(7, 213, 151, 0.15);

  --color-primary-border: rgba(7, 213, 151, 0.15);

  /*
   * Secondary colors.
   */
  --color-secondary: rgb(32, 163, 108);

  --color-danger: rgb(251, 110, 136);

  --color-danger-background: rgb(35, 21, 23);

  --color-danger-background-hover: rgba(251, 110, 136, 0.15);

}

* {

  /*
   * From MDN Web Docs
   * -----------------
   *
   * If the |box-sizing| property is set to |border-box|, the border area's size can be explicitly defined
   * with the |width|, |min-width|, |max-width|, |height|, |min-height| and |max-height| properties.
   */
  box-sizing: border-box;

  margin: 0;

  padding: 0;

  font-family: "Inter";

  font-weight: normal;

  font-style: normal;

}
