/*
 * root.css
 * --------
 *
 * This stylesheet defines:
 *   - The global style variables of the website.
 *   - The default styles applied to all HTML elements of the website.
 */

:root {

  /*
   * Neutral colors.
   *
   * The grays, blacks, whites for text and background.
   */
  --color-neutral-0: rgb(8, 15, 17);
  --color-neutral-1: rgb(16, 22, 24);
  --color-neutral-2: rgb(28, 34, 37);
  --color-neutral-3: rgb(161, 164, 165);
  --color-neutral-4: rgb(215, 216, 217);

  /*
   * Primary colors.
   */
  --color-primary: rgb(7, 213, 151);
  --color-primary-background: rgb(22, 35, 34);
  --color-primary-background-hover: rgb(28, 55, 46);
  --color-primary-border: rgba(7, 213, 151, 0.15);

  /*
   * Secondary colors.
   */
  --color-secondary: rgb(32, 163, 108);

  /*
   * Layout sizes.
   */
  --navbar-height: 3.75rem;

  --border-width-0: 1px;

  --border-radius-0: 3px;

  --padding-0: 1rem;

  /*
   * Typography.
   */
  --font-family-default: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;

  --font-size-0: 0.75rem;

  --letter-spacing-0: 0.08em;

}

* {

  /*
   * From MDN Web Docs
   * -----------------
   *
   * If the |box-sizing| property is set to |border-box|, the border area's size can be explicitly defined
   * with the |width|, |min-width|, |max-width|, |height|, |min-height| and |max-height| properties.
   */
  box-sizing: border-box;

  margin: 0;

  padding: 0;

}

a {

  color: var(--color-secondary);

}

button {

  color: var(--color-secondary);

  text-decoration: underline;

}

button:hover {

  cursor: pointer;

}
