@import "/css/root.css";

nav {

  height: var(--navbar-height);

  border-bottom-width: var(--border-width-0);

  border-bottom-color: var(--color-neutral-2);

  border-bottom-style: solid;

  display: flex;

  align-items: center;

}

nav div {

 height: 50%;

 width: 100%;

 display: flex;

 align-items: stretch;

 justify-content: space-around;

}

nav div a {

  display: flex;

  align-items: center;

}

nav div button {

  background-color: var(--color-primary-background);

  border-width: var(--border-width-0);

  border-color: var(--color-primary-border);

  border-style: solid;

  border-radius: var(--border-radius-0);

  padding-left: var(--padding-0);

  padding-right: var(--padding-0);

  text-transform: uppercase;

  font-size: var(--font-size-0);

  letter-spacing: var(--letter-spacing-0);

}

nav div button:hover {

  background-color: var(--color-primary-background-hover);

}
